/* Custom Properties */
:root {
    /* Colors */
    /* Principal Colors */
    --first-color: #120222;
    --first-alpha-color: rgba(18, 2, 34, 0.75);
    --second-color: #685e72;
    --second-alpha-color: rgba(104, 94, 114, 0.75);
    --third-color: #cac4c8;
    --third-alpha-color: rgba(202, 196, 200, 0.75);
    --fourth-color: #faebf5;
    --fourth-alpha-color: rgba(250, 235, 245, 0.75);
    --fiveth-color: #fa27b4;
    --fiveth-alpha-color: rgba(250, 235, 245, 0.75);
    /* Text Color */
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    /* Other Colors */
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --min-whdth-form: 290px;
  
    /* Fonts */
    --font: "Roboto", sans-serif;
  }
  
  /* Components */
  /* fomr */
  .form-content {
    background-color: var(--third-color);
    border-radius: 0.5rem;
  }
  
  .form {
    padding: 1rem;
  }
  
  .form > * {
    margin: 0.5rem auto;
    width: 100%;
  }
  
  .form *::placeholder {
    color: var(--gray-dark-color);
    font-style: italic;
  }
  
  .form-footer {
    text-align: center;
  }
  
  .form-footer > a {
    font-size: 0.8rem;
    margin: auto 0.5rem;
    color: var(--first-color);
  }
  
  .form-footer > a:hover {
      font-size: 0.9rem;
    }
  
  .form input,
  .form select,
  .form textarea{
    font-size: 0.85rem;
    font-family: var(--font);
    border: thin solid var(--second-color);
    border-radius: 0.3rem;
  }
  
  .form input {
    padding-left: 0.5rem;
  }
  
  .form input[type="submit"] {
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: var(--first-color);
    color: var(--third-color);
    border: 0;
    min-height: 2rem;
    font-weight: bold;
  }
  
  .form input[type="submit"]:hover {
    opacity: 0.75;
    font-size: 0.95rem;
  }
  
  .form input[type="text"],
  .form input[type="password"]
  .form input[type="date"],
  .form input[type="number"],
  .form .date,
  .form .select,
  .form-group > textarea {
    transition: all 0.5s ease-out;
    background-color: var(--fourth-color);
    color: var(--first-color);
    border: 0;
    min-height: 1.5rem;
  }
  
  .form-group {
    display: block;
  }
  
  .form-group > * {
    width: 100%;
  }
  
  .form-group > label {
    color: var(--first-color);
  }
  
  .form-group > textarea{
      resize: none;
  }
  
  .form-title {
    margin-top: 1rem;
    text-align: center;
    color: var(--first-color);
  }
  
  
  @media screen and (min-width: 768px) {
      .form{
          min-width: var(--min-whdth-form);
      }
  }
  
  @media screen and (min-width: 1024px) {
      .form{
          min-width: var(--min-whdth-form);
      }
  }
  